<a class="btn btn-light btn-lg mb-3" href="/usuario/menu" role="button">
  <i class="fa fa-undo" aria-hidden="true"></i> Volver 
</a>
<div id="animacionArriba" class="card ml-auto">
    <div  class="card-body text-center">
        <h3><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i> Carrito de Compras</h3>
    </div>
</div>


{{#each listaProductos_Pedidos}}

<div class="col ml-auto" style="background-color: #fff;margin-top: 25px;padding:20px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID Pedido</th>
                <th>Usuario</th>
                <th>Fecha de Pedido</th>
                <th>Estado</th>
                <th>Monto Total</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>{{this.pedido.id}}</td>
                <td>{{../usuarioLog.nombre}}</td>
                <td>{{this.pedido.fechapedido}}</td>
                <td>{{this.pedido.estado}}</td>
                <td>{{this.total}}</td>
                
                <td>
                <a id="colorCafe" href="/usuario/carrito/eliminar/Pedido/{{this.pedido.id}}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                </td>        
            </tr>
            
        </tbody>
    </table>
    <div class="card">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID Producto</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>

                {{#each this.productos}}
                <tr>
                    <td>{{this.idproducto}}</td>
                    <td>{{this.nombre}}</td>
                    <td>{{this.precio}}</td>
                    <td>
                    <a id="colorCafe" href="/usuario/carrito/eliminar/Producto/{{this.id}}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                    </td>        
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
    <a id="colorCafe" href="/usuario/carrito/procesar/{{this.pedido.id}}" class="btn btn-dark btn-block mt-3">Procesar Pedido</a>
</div>



{{/each}}